ion-card-title{font-size: 18px;}
.show-more{
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}
.menu-item-text{font-size: 20px;padding-left: 10px;position: relative;top: -10px}
