<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>Offers</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="add" size="large" class="ion-padding" [routerLink]="['/places/offers/new']"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--ion-card *ngFor="let offer of allOffers;" color="light">
    <ion-img [src]="offer.imgUrl"></ion-img>
    <ion-card-header>
      <ion-card-title text-center color="medium">
        {{offer.name}}
      </ion-card-title>
    </ion-card-header>
  </ion-card-->
  <ion-list class="offers-listing">
    <ion-item *ngFor="let offer of allOffers;let i = index;" color="light" [routerLink]="[offer.id]" detail>
      <!--ion-thumbnail [slot]="i % 2 === 0 ? 'start' : 'end'"-->
      <ion-thumbnail slot="start">
        <ion-img [src]="offer.imgUrl"></ion-img>
      </ion-thumbnail>
      <ion-text color="medium">
        <h3>{{offer.name}}</h3>
        <div>
          <span class="dateLabel">From: </span><span class="dateStr">{{offer?.startDate | dateFormatter:"DD/MM/YYYY"}}</span>
          <span class="dateLabel">To: </span><span class="dateStr">{{offer?.endDate | dateFormatter:"DD/MM/YYYY"}}</span>
        </div>
      </ion-text>
    </ion-item>
  </ion-list>
</ion-content>
