<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-back-button slot="start" defaultHref="places/offers"></ion-back-button>
    <ion-title>New Offer</ion-title>
    <ion-button [disabled]="newOfferFrmGrp.invalid" slot="end" fill="clear">
      <ion-icon name="checkmark-outline" size="large" color="light"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="newOfferFrmGrp">
    <ion-grid>
      <ion-row>
        <ion-col size-lg="6" offset-lg="3">
          <ion-item>
            <ion-label position="floating">Title</ion-label>
            <ion-input formControlName="title" type="text" name="title"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-lg="6" offset-lg="3">
          <ion-item>
            <ion-label position="floating">Description</ion-label>
            <ion-textarea rows="4" formControlName="desc" placeholder="Enter a brief description here..."></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-lg="6" offset-lg="3">
          <ion-item>
            <ion-label position="floating">Price</ion-label>
            <ion-input formControlName="price" type="number" name="price"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-lg="6" offset-lg="3" class="ion-padding">
          <!--ion-label position="stacked">Start Date</ion-label>
          <ion-datetime-button datetime="dt"></ion-datetime-button>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime id="datetime" size="cover" [min]="minStrtDt" [max]="maxEndDt" formControlName="startDate"></ion-datetime>
            </ng-template>
          </ion-modal-->
          <ion-datetime id="dt" formControlName="startDt" [min]="minStrtDt" displayFormat="DD/MM/YYYY" ></ion-datetime>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-lg="6" offset-lg="3">
          <p *ngIf="newOfferFrmGrp.get('title')?.touched && newOfferFrmGrp.get('title')?.invalid" class="formCtrlError">
            Title is required and cannot exceed 60 characters.
          </p>
          <p *ngIf="newOfferFrmGrp.get('desc')?.touched && newOfferFrmGrp.get('desc')?.invalid" class="formCtrlError">
            Description is required and cannot exceed 200 characters.
          </p>
          <p *ngIf="newOfferFrmGrp.get('price')?.touched && newOfferFrmGrp.get('price')?.invalid" class="formCtrlError">
            Price is required and should be in the range $100 - $10000.
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
